.selector {
    width: 100%;
    cursor: pointer;
    border-radius: var(--radius-l);
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);
    border: 1px solid var(--static-transparent);

    &:hover {
        background-color: var(--neutral-alpha-weak);
        border: 1px solid var(--neutral-alpha-weak);
    }
}

.active {
    background-color: var(--neutral-alpha-weak);
    border: 1px solid var(--neutral-alpha-weak);
}

.transform {
    transform: rotate(90deg);
}

.ease {
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);
}